@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 218 43% 11%;
    --primary: 220 100% 30%;
    --primary-foreground:  0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary-btn: 220 100% 30%;
    --primary-btn-foreground: 0 0% 100%;
    --radius: 0.5rem;
    --success: 	141 79% 85%;
    --error: 0 96% 89%;
    --popup-foreground: 215 28% 17%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
